body {
  background-color: rgb(152, 158, 164);
}

.head {
  font-size: 5rem;
  color: white;
  display: grid;
  place-content: center;
  margin-top: 10vh;
}

.squares {
  width: 15px;
  height: 15px;
  background-color: white;
  border: solid 1px black;
}
