:root {
  --gris: rgb(152, 158, 164);
}

body {
  background-color: #eeeeee;
}

.head {
  font-size: 5rem;
  color: var(--gris);
  display: grid;
  place-content: center;
  margin-top: 10vh;
}

.boardgames {
  display: flex;
  flex-direction: row;
  place-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  margin: 10vw;
}

.squares {
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid 1px var(--gris);
  font-size: 0.9rem;
}

.squares:hover {
  background-color: #f3f4f6;
  cursor: all-scroll;
}

.messages {
  display: grid;
  place-content: center;
  font-size: 3rem;
  color: royalblue;
  margin-top: 2vh;
}

.play-again-style {
  border: solid 1px royalblue;
  padding: 5px;
}

.play-again-style:hover {
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.clicked {
  pointer-events: none;
}

.clicked:hover {
  cursor: auto;
}

.computer-grid:hover {
  cursor: auto;
}
